<div class="row text-center">
  <h3>Select a ROle</h3>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
		<%= form_for :user_info, url: user_info_index_path, method: :post do |f| %>
			<div class="form-group">
				<%= f.collection_radio_buttons :user_role, User.user_roles, :first, :first %>
			</div>

			<%= f.submit "Submit", class: "btn btn-primary" %> 
		<% end %>
	</div>
</div>